.Header{
    display: flex;
    flex: 1;
    padding: 20px;
}

.header-left{
    justify-content: left;
    margin-left: 30px;
    font-size: 30px;
    color: aliceblue;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.header-right{
    justify-content: right;
    align-items:flex-end;
    padding-left: 850px;
    font-weight: bolder;
    display: flex;
}

.convert-text{
    text-transform: uppercase;
    color: aqua;
    font-size: 20px;
}

.menu-icon{
    color: aliceblue;
    padding-left: 30px;
    margin-top: 10px;
}